{% extends "topic_trees/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h1>Track your learning.</h1>
  </div>
{% endblock header %}

{% block content %}
  {% if user.is_authenticated %}
    <h3>View your <a href="{% url 'topics' %}">saved topics</a> in your account.</h3>
    <br>
    <h3>Tip: Whenever you learn something new, take the opportunity to create a note of what you've learned.</h3>
  {% else %}
    <h3><a href="{% url 'register' %}">Create an account</a> to keep your notes saved in TopicTree.</h3>
    <br>
    <h3>Tip: Whenever you learn something new, take the opportunity to create a note of what you've learned.</h3>
  {% endif %}
{% endblock content %}
