{% extends "topic_trees/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>
    <a href="{% url 'index' %}" type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    </a>
    Topics:
  </h2>
{% endblock header %}

{% block content %}
  <ul class="list-group">
    {% for topic in topics  %}
      <li class="list-group-item">
        <h3>
          <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No Topics Added</li>
    {% endfor %}
  </ul>

  <a class="btn btn-primary" href="{% url 'new_topic' %}">New Topic</a>

{% endblock content %}